/*Переменные header*/
.wrapper {
  width: 100%;
  height: auto;
  background: #ffffff;
}
/*Заголовок сайта*/
.header {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 592.33749462px;
  margin: 0 auto;
  background: #f6f2f2;
  /*Навигационное меню*/
}
.header .navbar {
  display: block;
  position: relative;
  width: 79.1007%;
  height: 76.62505381px;
  padding: 0;
  margin: 14.5px auto 0 auto;
  background: #000000;
  opacity: 80%;
}
.header .navbar .tab {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 375.3766681px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}
.header .navbar .tab p {
  display: inline-block;
  width: 77.48600947px;
  height: 76.62505381px;
  font-family: "Open Sans", sans-serif;
  font-size: 12.05337925px;
  font-weight: 700;
  line-height: 76.62505381px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.49px;
  margin: auto 0;
}
.header .navbar .tab p a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #e0e0e0;
}
.header .navbar .tab p a:hover {
  background: #ff3f40;
}
.header .navbar .tab p:first-child {
  background: #ff3f40;
  width: 77.48600947px;
}
.header .content {
  display: block;
  position: relative;
  width: 79.1007%;
  height: 306.50021524px;
  padding: 0;
  margin: 88.67843306px auto 95.56607835px auto;
  opacity: 80%;
}
.header .content div {
  display: block;
  position: relative;
  width: 502px;
  height: auto;
  margin: 0;
  padding: 0;
  float: left;
}
.header .content div h4 {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 45px;
  color: #000000;
}
.header .content div h4:last-child {
  margin: 15px 0 0 0;
  letter-spacing: 6px;
}
.header .content p {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 127.4214378px;
  width: 440.80929832px;
  height: 88.67843306px;
  padding: 0;
  color: black;
  float: left;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 13.77529057px;
  font-weight: 400px;
  line-height: 28px;
  text-align: justify;
}
.header .content p a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
}
.header .content p:hover {
  cursor: pointer;
}
.header .content form {
  display: block;
  position: absolute;
  float: left;
  bottom: 10.33146793px;
  left: 0;
  width: 195.436935px;
  height: 47.35256134px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background: #ff2d2d;
}
.header .content form button {
  display: inherit;
  position: inherit;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  color: #ffffff;
  background: #ff2d2d;
  font-family: "Open Sans", sans-serif;
  font-size: 15.49720189px;
  font-weight: 700;
  line-height: 29.32414981px;
  letter-spacing: 0.32px;
  cursor: pointer;
}
.header .content iframe {
  display: block;
  position: relative;
  width: 474.38656909px;
  height: 306.50021524px;
  margin: 0;
  padding: 0;
  color: black;
  float: right;
}
/*Основная информация*/
.provide {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 79.4174%;
  height: 504.52001722px;
  padding: 0;
  margin: 92.9832px auto 0 auto;
}
.provide div:first-child{
  display: flex;
  width: 100%;
  height: 500.52001722px;
}
.provide div:first-child .aboutUs{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.provide div:first-child .aboutUs h4{
  display: inline-block;
  position: relative;
  width: 424.4511px;
  height: 74.9031px;
  margin: 5.1657px 0 0 0;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 35.5px;
  font-weight: 700;
  line-height: 37px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}
.provide div:first-child .aboutUs p{
  display: inline-block;
  position: relative;
  width: 438.2264px;
  height: 84.3737px;
  margin: 43.0478px 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13.7753px;
  line-height: 20px;
  text-align: justify;
}
.provide div:first-child .aboutUs p a{
  text-decoration: none;
  color: #000000;
}
.provide div:first-child .aboutUs p a:hover{
  cursor: pointer;
}
.provide div:first-child .aboutUs a{
  width: 195.4369px;
  height: 47.3526px;
  padding: 0;
  margin: 49.9354px 0 0 0;
  border-radius: 5px;
}
.provide div:first-child .aboutUs a div{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: solid 2px #ff0000;
  border-radius: 5px;
}
.provide div:first-child .aboutUs a div span{
  display: block;
  position: relative;
  width: 95px;
  height: 18px;
  padding: 0;
  margin: 13px auto;
  color: #ff2d2d;
  font-family: "Open Sans", sans-serif;
  font-size: 15.4972px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.32px;
}
.provide div:first-child .detailed{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 410.6759px;
  padding: 0;
  margin: 0 0 auto auto;
}
.provide div:first-child .detailed .managment{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 234.1799px;
  height: 183.3836px;
  padding: 0;
  margin: 0 auto auto 0;
}
.provide div:first-child .detailed .managment img{
  display: block;
  position: inherit;
  width: 35.2992px;
  height: 35.2992px;
}
.provide div:first-child .detailed .managment h5{
  display: inline-block;
  position: relative; 
  margin: 33px 0 9px 0;
  color: #000000;
  opacity: 0.7;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.27px;
}
.provide div:first-child .detailed .managment p{
  display: inline-block;
  position: relative;
  height: 75px;
  margin: auto 0 0 0;
  font-size: 12.5px;
  font-family: "Open Sans", sans-serif;
  line-height: 18px;
  text-align: justify;
}
.provide div:first-child .detailed .managment p a{
  text-decoration: none;
  color: #000000;
  opacity: 0.7;
}
.provide div:first-child .detailed .managment p a:hover{
  cursor: pointer;
}
.provide div:first-child .detailed .UI_UX{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250.5381px;
  height: 183.3836px;
  padding: 0;
  margin: 0 0 auto auto;
}
.provide div:first-child .detailed .UI_UX img{
  display: block;
  position: inherit;
  width: 34.4382px;
  height: 32.7163px;
}
.provide div:first-child .detailed .UI_UX h5{
  display: inline-block;
  position: relative; 
  margin: 33px 0 9px 0;
  color: #000000;
  opacity: 0.7;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.27px;
}
.provide div:first-child .detailed .UI_UX p{
  display: inline-block;
  position: relative;
  height: 75px;
  margin: auto 0 0 0;
  font-size: 12.5px;
  font-family: "Open Sans", sans-serif;
  line-height: 18px;
  text-align: justify;
}
.provide div:first-child .detailed .UI_UX p a{
  text-decoration: none;
  color: #000000;
  opacity: 0.7;
}
.provide div:first-child .detailed .UI_UX p a:hover{
  cursor: pointer;
}
.provide div:first-child .detailed .logo{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 235.0409px;
  height: 185.9664px;
  padding: 0;
  margin: auto auto 0 0;
}
.provide div:first-child .detailed .logo img{
  display: block;
  position: inherit;
  width: 35.2992px;
  height: 28.4115px;
}
.provide div:first-child .detailed .logo h5{
  display: inline-block;
  position: relative; 
  margin: 33px 0 9px 0;
  color: #000000;
  opacity: 0.7;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.27px;
}
.provide div:first-child .detailed .logo p{
  display: inline-block;
  position: relative;
  height: 75px;
  margin: auto 0 0 0;
  font-size: 12.5px;
  font-family: "Open Sans", sans-serif;
  line-height: 18px;
  text-align: justify;
}
.provide div:first-child .detailed .logo p a{
  text-decoration: none;
  color: #000000;
  opacity: 0.7;
}
.provide div:first-child .detailed .logo p a:hover{
  cursor: pointer;
}
.provide div:first-child .detailed .animation{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250.5381px;
  height: 185.9664px;
  padding: 0;
  margin: auto 0 0 auto;
}
.provide div:first-child .detailed .animation img{
  display: block;
  position: inherit;
  width: 37.882px;
  height: 28.4115px;
}
.provide div:first-child .detailed .animation h5{
  display: inline-block;
  position: relative; 
  margin: 33px 0 9px 0;
  color: #000000;
  opacity: 0.7;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.27px;
}
.provide div:first-child .detailed .animation p{
  display: inline-block;
  position: relative;
  height: 75px;
  margin: auto 0 0 0;
  font-size: 12.5px;
  font-family: "Open Sans", sans-serif;
  line-height: 18px;
  text-align: justify;
}
.provide div:first-child .detailed .animation p a{
  text-decoration: none;
  color: #000000;
  opacity: 0.7;
}
.provide div:first-child .detailed .animation p a:hover{
  cursor: pointer;
}
.provide>div:last-child{
  display: flex;
  width: 99.6013%;
  height: 2px;
  margin: 0 auto;
  background: #ececec;
}
.product{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 79.4174%;
  height: 786.9135px;
  margin: 91.2613px auto 118.8119px auto;
}
.product h4{
  display: inline-block;
  position: relative;
  width: 361.6014px;
  height: auto;
  padding: 0;
  margin: 0 auto;
  color: #000000;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.38px;
}
.product p{
  display: inline-block;
  position: relative;
  width: 433.9217px;
  height: auto;
  padding: 0;
  margin: 29.2725px auto 0 auto;
  color: #000000;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 12.5px;
  line-height: 26px;
  text-align: center;
}
.product div:nth-child(3) {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 24.9677px auto 0 auto;
}
.product div:nth-child(3) span{
  display: block;
  position: relative;
  width: 10.5431%;
  height: 3px;
  padding: 0;
  margin: 0 auto;
  background: #ff2d2d;
}
.product .menu{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 71.246%;
  height: auto;
  padding: 0;
  margin: 75.7641px auto 55.9621px auto;
  justify-content: space-between;
}
.product .menu p{
  display: inline-block;
  width: auto;
  height: 20px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.22px;
}
.product .menu p a{
  color: #000000;
  opacity: 0.7;
  text-decoration: none;
}
.product .menu p a:hover{
  color: #ff2d2d;
  opacity: 0.7;
  cursor: pointer;
}
.product .menu p:first-child a{
  color: #ff2d2d;
  opacity: 1;
}
.product .foto{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 1072px;
  height: 517.4344px;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
}
.product .foto a{
  display: block;
  width: 22.75%;
  height: 46.75%;
  padding: 0;
  margin: 0;
}
.product .foto a:hover{
  cursor: pointer;
}
.product .foto a img{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.product .foto a:nth-child(5),
.product .foto a:nth-child(6),
.product .foto a:nth-child(7),
.product .foto a:nth-child(8){
  margin: auto 0 0 0;
}
.team{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 79.2907%;
  height: 609.5566px;
  padding: 0;
  margin: 0 auto;
}
.team h5{
  display: inline-block;
  width: 293px;
  height: auto;
  margin: 0;
  color: #000000;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 37px;
  letter-spacing: 0.38px;
}
.team p{
  display: inline-block;
  width: 385px;
  height: auto;
  margin: 34px 0 0 0;
  color: #000000;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 12.0px;
  line-height: 15px;
  letter-spacing: 0.38px;
}
.team div:nth-child(3){
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.team div:nth-child(3) span{
  display: block;
  width: 10.5431%;
  height: 3px;
  padding: 0;
  margin: 28px 0 0 0;
  background: #ff2d2d;
}
.team .about_team{
  display: flex;
  position: relative;
  width: 100%;
  height: 394px;
  padding: 0;
  margin: auto 0 0 0;
}
.team .about_team img{
  display: block;
  width: 276px;
  height: 100%;
  padding: 0;
  margin: 0;
}
.team .about_team .fotoTeam{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 770px;
  height: 100%;
  padding: 0;
  margin: 0 0 0 5.91%;
}
.team .about_team .fotoTeam div:first-child{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 210px;
  padding: 0;
  margin: 0;
}
.team .about_team .fotoTeam div:first-child h5{
  display: inline-block;
  width: 178px;
  margin: 13px auto 0 0;
  color: #000000;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.28px;
}
.team .about_team .fotoTeam div:first-child p{
  display: inline-block;
  width: 542px;
  margin: 30px auto 0 0;
  color: #000000;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 22.5px;
  letter-spacing: 0.38px;
}
.team .about_team .fotoTeam div:first-child .socialTeam{
  display: flex;
  flex-direction: row;
  width: 319px;
  height: 12px;
  padding: 0;
  margin: 37px auto 0 0;
  justify-content: space-between;
}
.team .about_team .fotoTeam div:first-child .socialTeam p{
  display: inline-block;
  width: auto;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-style: italic;
  line-height: 12px;
  letter-spacing: 0.9px;
}
.team .about_team .fotoTeam div:first-child .socialTeam p a{
  text-decoration: none;
  color: #000000;
  opacity: 0.8;
}
.team .about_team .fotoTeam div:first-child .socialTeam p a:hover{
  cursor: pointer;
}
.team .about_team .fotoTeam div:last-child{
  display: flex;
  flex-direction: row;
  width: auto;
  height: 184px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.team .about_team .fotoTeam div:last-child a{
  display: block;
  width: 169px;
  height: 100%;
  padding: 0;
  margin: 0;
}
.team .about_team .fotoTeam div:last-child a img{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.subscribe{
  display: flex;
  flex-direction: column;
  width: 79.2907%;
  height: 440px;
  padding: 0;
  margin: 94px auto 91px auto;
  background: #2c2c2c;
}
.subscribe h5{
  display: inline-block;
  width: 946px;
  height: 46px;
  margin: 120px auto 26px auto;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}
.subscribe p{
  display: inline-block;
  width: 465px;
  height: 16px;
  margin: 0 auto;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 12.7px;
  line-height: 15px;
}
.subscribe form{
  display: flex;
  flex-direction: row;
  width: 651px;
  height: 68px;
  padding: 0;
  margin: auto auto 120px auto;
  justify-content: space-between;
}
.subscribe form input:first-child{
  display: block;
  width: 448px;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0px;
}
.subscribe form input:last-child{
  display: block;
  width: 184px;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: 0.32px;
  background: #ff2d2d;
  border: 0;
}
.contact_us{
  display: flex;
  flex-direction: column;
  width: 79.2907%;
  height: 662px;
  padding: 0;
  margin: 0 auto;
}
.contact_us .description{
  display: flex;
  flex-direction: column;
  width: 630px;
  height: 183px;
  padding: 0;
  margin: 0;
}
.contact_us .description h5{
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  margin: 0 auto 43px 0;
  color: #000000;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 35px;
  letter-spacing: 0.38px;
}
.contact_us .description p{
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  margin: auto 0 auto 0;
  color: #000000;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 12.7px;
  line-height: 14px;
}
.contact_us .description span{
  display: block;
  position: relative;
  width: 113px;
  height: 2.5px;
  padding: 0;
  margin: auto auto 30px 0;
  background: #ff2d2d;
}
.contact_us div:nth-child(2){
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 414px;
  padding: 0;
  margin: 0 auto auto 0;
}
.contact_us div:nth-child(2) form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  height: 100%;
  padding: 0;
  margin: 0 auto 0 0;
  justify-content: space-between;
}
.contact_us div:nth-child(2) form input:first-child,
.contact_us div:nth-child(2) form input:nth-child(2){
  display: block;
  width: 291px;
  height: 59px;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,0.7);
  background: rgba(0,0,0,0.1);
  border: 0;
}
.contact_us div:nth-child(2) form input:nth-child(3){
  display: block;
  width: 100%;
  height: 214px;
  padding: 0;
  margin: 39px 0 0 0;
  color: rgba(0,0,0,0.7);
  background: rgba(0,0,0,0.1);
  border: 0;
}
.contact_us div:nth-child(2) form input:last-child{
  display: block;
  width: 100%;
  height: 61px;
  padding: 0;
  margin: auto 0 0 0;
  background: #ff3b3b;
  border: 0px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.32px;
}
.contact_us div:nth-child(2) form input:last-child:hover{
  cursor: pointer;
}
.contact_us div:nth-child(2) div:nth-child(2){
  display: flex;
  flex-direction: column;
  width: 414px;
  height: 100%;
  padding: 0;
  margin: 0 0 0 auto;
  background: #2d2d2d;
}
.contact_us div:nth-child(2) div:nth-child(2) h5{
  display: inline-block;
  width: 118px;
  height: auto;
  margin: 124px auto 35px 68px;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.38px;
}
.contact_us div:nth-child(2) div:nth-child(2) p:nth-child(2){
  display: inline-block;
  width: 245px;
  height: auto;
  margin: 0 auto 23px 68px;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 14px;
}
.contact_us div:nth-child(2) div:nth-child(2) p:nth-child(3){
  display: inline-block;
  width: 164px;
  height: auto;
  margin: 0 auto 28px 68px;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 14px;
}
.contact_us div:nth-child(2) div:nth-child(2) p:last-child{
  display: inline-block;
  width: 128px;
  height: auto;
  margin: 0 auto 28px 68px;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 14px;
}