/*Заголовок сайта*/
.header {
  height: 560px;
  /*Навигационное меню*/
 }
 .header .content div {
  width: 405px;
 }
 .header .content div h4 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 40px;
 }
 .header .content p {
  width: 405px;
  top: 100px;
 }
 .header .content form {
  bottom: 30px;
 }
 .header .content form button {
  border: none;
  outline: none;
 }
 .header .content iframe {
  margin: 20px 0 0 0;
}



/*Основная информация*/
.provide {
  height: 504.52001722px;
 }
.provide div:first-child .aboutUs h4{
  width: 350px;
  height: 110px;
}
.provide div:first-child .aboutUs p{
  width: 350px;
  height: 100px;
}
.provide div:first-child .detailed{
  width: 1100px;
}
.provide div:first-child .detailed .managment{
  width: 225px;
  height: 180px;
}
.provide div:first-child .detailed .managment h5{
  margin: 20px 0 9px 0;
}
.provide div:first-child .detailed .managment p{
  height: 90px;
}
.provide div:first-child .detailed .UI_UX{
  width: 225px;
  height: 180px;
}
.provide div:first-child .detailed .UI_UX h5{
  margin: 20px 0 9px 0;
}
.provide div:first-child .detailed .UI_UX p{
  height: 90px;
}
.provide div:first-child .detailed .logo{
  width: 225px;/**/
}
.provide div:first-child .detailed .logo h5{
  margin: 20px 0 9px 0;
}
.provide div:first-child .detailed .logo p{
  height: 95px;
}
.provide div:first-child .detailed .animation{
  width: 225px;/**/
}
.provide div:first-child .detailed .animation h5{
  margin: 20px 0 9px 0;
}
.provide div:first-child .detailed .animation p{
  height: 95px;
}
.product{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85%;
  height: 786.9135px;
  margin: 91.2613px auto 118.8119px auto;
}
.product h4{
  display: inline-block;
  position: relative;
  width: 361.6014px;
  height: auto;
  padding: 0;
  margin: 0 auto;
  color: #000000;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.38px;
}
.product p{
  display: inline-block;
  position: relative;
  width: 433.9217px;
  height: auto;
  padding: 0;
  margin: 29.2725px auto 0 auto;
  color: #000000;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 12.5px;
  line-height: 26px;
  text-align: center;
}
.product div:nth-child(3) {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 24.9677px auto 0 auto;
}
.product div:nth-child(3) span{
  display: block;
  position: relative;
  width: 10.5431%;
  height: 3px;
  padding: 0;
  margin: 0 auto;
  background: #ff2d2d;
}
.product .menu{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 80%;
  height: auto;
  padding: 0;
  margin: 75.7641px auto 55.9621px auto;
  justify-content: space-between;
}
.product .menu p{
  display: inline-block;
  width: auto;
  height: 20px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.22px;
}
.product .menu p a{
  color: #000000;
  opacity: 0.7;
  text-decoration: none;
}
.product .menu p a:hover{
  color: #ff2d2d;
  opacity: 0.7;
  cursor: pointer;
}
.product .menu p:first-child a{
  color: #ff2d2d;
  opacity: 1;
}
.product .foto{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 517.4344px;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
}
.product .foto a{
  display: block;
  width: 22.75%;
  height: 46.75%;
  padding: 0;
  margin: 0;
}
@keyframes zoom{
  0%{transform: scale(1,1);}
  100%{transform: scale(1.2,1.2);}
}
.product .foto a:hover{
  cursor: pointer;
  animation: zoom 0.5s linear;
  animation-fill-mode: forwards;
}
.product .foto a img{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.product .foto a:nth-child(5),
.product .foto a:nth-child(6),
.product .foto a:nth-child(7),
.product .foto a:nth-child(8){
  margin: auto 0 0 0;
}
.team{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85%;
  height: 609.5566px;
  padding: 0;
  margin: 0 auto;
}
.team h5{
  display: inline-block;
  width: 293px;
  height: auto;
  margin: 0;
  color: #000000;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 37px;
  letter-spacing: 0.38px;
}
.team p{
  display: inline-block;
  width: 385px;
  height: auto;
  margin: 34px 0 0 0;
  color: #000000;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 12.0px;
  line-height: 15px;
  letter-spacing: 0.38px;
}
.team div:nth-child(3){
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.team div:nth-child(3) span{
  display: block;
  width: 10.5431%;
  height: 3px;
  padding: 0;
  margin: 28px 0 0 0;
  background: #ff2d2d;
}
.team .about_team{
  display: flex;
  position: relative;
  width: 100%;
  height: 394px;
  padding: 0;
  margin: auto 0 0 0;
}
.team .about_team div:first-child{
  display: block;
  width: 276px;
  height: 100%;
  padding: 0;
  margin: 0;
}
.team .about_team div:first-child img{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.team .about_team .fotoTeam{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 770px;
  height: 100%;
  padding: 0;
  margin: 0 0 0 5.91%;
}
.team .about_team .fotoTeam div:first-child{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 210px;
  padding: 0;
  margin: 0;
}
.team .about_team .fotoTeam div:first-child p:first-child{
  display: inline-block;
  width: 220px;
  margin: 13px auto 0 0;
  color: #000000;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.28px;
}
.team .about_team .fotoTeam div:first-child p:last-child{
  display: inline-block;
  width: 542px;
  margin: 30px auto 0 0;
  color: #000000;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 22.5px;
  letter-spacing: 0.38px;
}
.team .about_team .fotoTeam div:first-child .socialTeam{
  display: flex;
  flex-direction: row;
  width: 319px;
  height: 12px;
  padding: 0;
  margin: 37px auto 0 0;
  justify-content: space-between;
}
.team .about_team .fotoTeam div:first-child .socialTeam p{
  display: inline-block;
  width: auto;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-style: italic;
  line-height: 12px;
  letter-spacing: 0.9px;
}
.team .about_team .fotoTeam div:first-child .socialTeam p a{
  text-decoration: none;
  color: #000000;
  opacity: 0.8;
}
.team .about_team .fotoTeam div:first-child .socialTeam p a:hover{
  cursor: pointer;
}
.team .about_team .fotoTeam div:last-child{
  display: flex;
  flex-direction: row;
  width: auto;
  height: 184px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.team .about_team .fotoTeam div:last-child a{
  display: block;
  width: 169px;
  height: 100%;
  padding: 0;
  margin: 0;
}
.team .about_team .fotoTeam div:last-child a p{
  visibility: hidden;
  display: inline-block;
  position: absolute;
  z-index: 111;
  width: 169px;
  height: 0px;
  padding: 0;
  margin: 0;
  bottom: 0px;
  background: black;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}
@keyframes image_name{
  0%{ visibility: hidden;
      height: 0px;
  }
  100%{visibility: visible;
        height: 30px;
  }
}
.team .about_team .fotoTeam div:last-child a:hover{
  cursor: pointer;
}
.team .about_team .fotoTeam div:last-child a:hover p{
  animation: image_name 0.25s linear;
  animation-fill-mode: forwards;
}
.team .about_team .fotoTeam div:last-child a img{
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.subscribe{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 440px;
  padding: 0;
  margin: 94px auto 91px auto;
  background: #2c2c2c;
}
.subscribe h5{
  display: inline-block;
  width: 946px;
  height: 46px;
  margin: 120px auto 26px auto;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}
.subscribe p{
  display: inline-block;
  width: 465px;
  height: 16px;
  margin: 0 auto;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 12.7px;
  line-height: 15px;
}
.subscribe form{
  display: flex;
  flex-direction: row;
  width: 651px;
  height: 68px;
  padding: 0;
  margin: auto auto 120px auto;
  justify-content: space-between;
}
.subscribe form input:first-child{
  display: block;
  width: 448px;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0px;
}
.subscribe form input:last-child{
  display: block;
  width: 184px;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
  letter-spacing: 0.32px;
  background: #ff2d2d;
  border: 0;
}
.contact_us{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 662px;
  padding: 0;
  margin: 0 auto;
}
.contact_us .description{
  display: flex;
  flex-direction: column;
  width: 630px;
  height: 183px;
  padding: 0;
  margin: 0;
}
.contact_us .description h5{
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  margin: 0 auto 21.5px 0;
  color: #000000;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 35px;
  letter-spacing: 0.38px;
}
.contact_us .description p{
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  margin: auto 0 auto 0;
  color: #000000;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 12.7px;
  line-height: 20px;
}
.contact_us .description span{
  display: block;
  position: relative;
  width: 113px;
  height: 2.5px;
  padding: 0;
  margin: auto auto 30px 0;
  background: #ff2d2d;
}
.contact_us div:nth-child(2){
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 414px;
  padding: 0;
  margin: 0 auto auto 0;
}
.contact_us div:nth-child(2) form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  height: 100%;
  padding: 0;
  margin: 0 auto 0 0;
  justify-content: space-between;
}
.contact_us div:nth-child(2) form input:first-child,
.contact_us div:nth-child(2) form input:nth-child(2){
  display: block;
  width: 291px;
  height: 59px;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,0.7);
  background: rgba(0,0,0,0.1);
  border: 0;
}
.contact_us div:nth-child(2) form input:nth-child(3){
  display: block;
  width: 100%;
  height: 214px;
  padding: 0;
  margin: 39px 0 0 0;
  color: rgba(0,0,0,0.7);
  background: rgba(0,0,0,0.1);
  border: 0;
}
.contact_us div:nth-child(2) form input:last-child{
  display: block;
  width: 100%;
  height: 61px;
  padding: 0;
  margin: auto 0 0 0;
  background: #ff3b3b;
  border: 0px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.32px;
}
.contact_us div:nth-child(2) form input:last-child:hover{
  cursor: pointer;
}
.contact_us div:nth-child(2) form input:last-child:active{
  background: #ff1a1a;
  color: #e6e6e6;
  cursor: pointer;
}
.contact_us div:nth-child(2) div:nth-child(2){
  display: flex;
  flex-direction: column;
  width: 414px;
  height: 100%;
  padding: 0;
  margin: 0 0 0 auto;
  background: #2d2d2d;
}
.contact_us div:nth-child(2) div:nth-child(2) h5{
  display: inline-block;
  width: 118px;
  height: auto;
  margin: 124px auto 35px 68px;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.38px;
}
.contact_us div:nth-child(2) div:nth-child(2) p:nth-child(2){
  display: inline-block;
  width: 245px;
  height: auto;
  margin: 0 auto 23px 68px;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 14px;
}
.contact_us div:nth-child(2) div:nth-child(2) p:nth-child(3){
  display: inline-block;
  width: 164px;
  height: auto;
  margin: 0 auto 28px 68px;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 14px;
}
.contact_us div:nth-child(2) div:nth-child(2) p:last-child{
  display: inline-block;
  width: 128px;
  height: auto;
  margin: 0 auto 28px 68px;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 14px;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 95px;
  padding: 0;
  margin: 94px 0 0 0;
  background: #313030;  
}
.footer h5{
  display: inline-block;
  width: 297px;
  height: 16px;
  margin: auto;
  color: #b8b8b8;
  font-family: "Open Sans", sans-serif;
  font-size: 12.8px;
  line-height: 15px;
}
.footer .social{
  display: flex;
  flex-direction: row;
  width: 159px;
  height: 28px;
  padding: 0;
  margin: auto;
  justify-content: space-between;
}
.footer .social a{
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
  border-radius: 28px;
}
.social-twitter{
  background: url("../img/Twitter.png");
  background-size: cover;
}
.social-linkedin{
  background: url("../img/LinkedIn.png");
  background-size: cover;
}
.social-google{
  background: url("../img/Google.png");
  background-size: cover;
}
.social-facebook{
  background: url("../img/Facebook.png");
  background-size: cover;
}